rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Règle permettant aux utilisateurs authentifiés d'accéder à leur propre document
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }
    
    // Règle pour les paramètres utilisateur
    match /user_settings/{userId} {
      allow create, read, update: if request.auth != null && request.auth.uid == userId;
    }
    
    // Règle pour les progressions des utilisateurs
    match /userProgress/{progressId} {
      allow create, read, update: if request.auth != null && progressId.split('_')[0] == request.auth.uid;
    }
    
    // Accès en lecture seule aux parcours pour tous les utilisateurs authentifiés
    match /parcours/{parcoursId} {
      allow read: if request.auth != null;
    }
    
    // Accès en lecture seule aux vidéos pour tous les utilisateurs authentifiés
    match /videos/{videoId} {
      allow read: if request.auth != null;
    }
    
    // Accès en lecture seule aux quiz pour tous les utilisateurs authentifiés
    match /quiz/{quizId} {
      allow read: if request.auth != null;
    }
  }
} 